<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <title>Geraune!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/geraune.css">
</head>

<body>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
		    <p class="title">Geraune! </p>
            </div>
        </div>
    </section>
    {% block body %}{% endblock %}
</body>

</html>
