{% extends "base.html" %}
{% block body %}
	<div class="content columns">
		<div class="column is-one-third is-offset-one-third">
		{% set section = get_section(path="quotes/_index.md") %}

		<div>
		{% for quote in section.pages %}
			<h3>{{ quote.title }} ({{ quote.date | date(format="%d.%m.%Y") }})</h3>
			<div>{{ quote.content | safe }}</div>
		{% endfor %}
		</div>
		</div>
	</div>
{% endblock body %}
